.screen1 {

  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
  background-image: url('/img/jpg/screen1_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;


  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 128px;
    padding-left: 35px;
  }

  &__text {
    position: absolute;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--dark);
    opacity: 0.7;
    padding-bottom: 8px;
    z-index: 2;
  }

  &__block1 {
    padding-top: 60px;
  }

  &__block1 h1 {
    padding-top: 20px;
  }

  &__container-button {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 32px;
    justify-content: flex-start;
    margin-top: 27px;
  }

  &__block2 {
    height: 954px;
  }

  &__block2 img {
    height: 100%;
    width: 100%;
  }


  //Медиа запросы

  @media (max-width: 1279px) {

    &__grid {
      gap: 0;
      grid-template-columns: 4fr 2fr;
    }

    &__block2 {
      height: 854px;
    }
  }

  @media (max-width: 1023px) {

    &__grid {
      grid-template-columns: 1fr;
    }

    &__block2 {
      height: 658px;
      margin-left: 250px;
    }

  }

  @media (max-width: 767px) {

    &__grid {
      grid-template-rows: repeat(2, 1fr);
    }


    &__container-button{
      grid-template-columns: 1fr;
      gap:10px;

    }

    &__grid{
      grid-template-columns: 1fr;
      padding: 0;
      gap: 30px;
    }
    &__text {
      font-size: 16px;
      line-height: 156%;
    }

    h1 {
      font-size: 40px;
      margin: 25px 0;
    }



  &__block2 {
    height: 420px;
    grid-column: 1;
    margin: 0;
  }
  }

  @media (max-width: 374px) {

  }

}
